.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

.sectionApresentacao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5.6rem;
    padding: 90px;
    background-color: var(--pink-000);
    box-sizing: border-box;
    overflow: hidden;
}

.containerApresentacao{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.7rem;
    max-width:fit-content;
}

.sectionApresentacao h1{
    font-family: var(--font-inter);
    font-size: 2.5rem;
    font-weight: 500;
}

.sectionApresentacao p{
    font-family: var(--font-inter);
    font-size: 17px;
    font-weight: 400;
}