.header {
  background-color: #e33737;
  color: white;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header_right {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.header_right h3:first-child {
  color: #4f0707;
}

.main {
  display: flex;
  height: 100vh;
}

.right {
  width: 610px;
  max-width: 610px;
  background-color: #f6b6b6;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 25px;
  gap: 1rem;
}

.right button {
  background-color: #f6b6b6;
  width: 58px;
  height: 58px;
  border: none;
  cursor: pointer;
}

.right h3 {
  color: #4f0707;
}

.right h1 {
  color: #4f0707;
}

.redText {
  color: #e21515;
}

.left {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.left h2 {
  color: #e21515;
  margin: 0 auto;
}

.left form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.left input {
  margin: 0 auto;
  width: 420px;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #ffffff;
}

.left textarea {
  margin: 0 auto;
  width: 420px;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #ffffff;
}

.left select {
  color: black;
  margin: 0 auto;
  width: 420px;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #ffffff;
}

.left button {
  margin: 0 auto;
  width: 420px;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #aa1010;
}
