.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: var(--pink-000);
  max-width: 1200px;
  margin: 0 auto;
}

.sectionApresentacao{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  flex-direction: row;
  gap: 5.6rem;
  padding: 90px;
  box-sizing: border-box;
}

.containerApresentação{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.containerApresentação h1{
  font-family: var(--font-inter);
  font-size: 2.4rem;
  font-weight: 500;
}

.containerApresentação p{
  font-family: var(--font-inter);
  font-size: 17px;
  font-weight: 400;
}

.sectionCalendar {
  width: 100vw;
  padding:90px;
}