.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  max-width: 75%;
  margin: 0 auto;
}

.section {
  display: flex;
  flex-direction: column;
  padding: 90px;
  gap: 20px;
  background-color: var(--pink-000);
  box-sizing: border-box;
  overflow: hidden;
}

.sectionApresentacao{
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width:fit-content;
}

.sectionApresentacao h1 {
  font-family: var(--font-inter);
  font-size: 2.5rem;
  font-weight: 600;
}

.sectionApresentacao strong{
  font-family: var(--font-inter);
  font-size: 2.2rem;
  font-weight: 750;
}

.sectionApresentacao p{
  font-family: var(--font-inter);
  font-size: 17px;
  font-weight: 400;
}

.btnAddProgram {
  width: 310px;
  height: 60px;
  border: none;
  border-radius: 10px;
  background-color: var(--pink-700);
  color: var(--pink-100);
  font-family: var(--font-inter);
  font-weight: 550;
  font-size: 1.1rem;
}

.btnAddProgram:hover {
  transition: background-color 0.3s ease-out;
  background-color: var(--pink-900);
}

/* .btnEdit {
  background-image: url("/edit.svg");
}

.btnDelete {
  background-image: url("/delet.svg");
}

.btnView {
  background-image: url("/view.svg");
} */
