.container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center-text {
  text-align: center;
}

.espacamento {
  margin-bottom: 2em;
  margin-top: 5em;
}
