.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

.sectionApresentacao {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
    gap: 5.6rem;
    width: 100%;
    background-color: var(--pink-000);
    box-sizing: border-box;
    overflow: hidden;
}

.containerApresentacao{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width:fit-content;
}

.containerApresentacao h1{
    font-family: var(--font-inter);
    font-size: 2.5rem;
    font-weight: 500;
}

.containerApresentacao p{
    font-family: var(--font-inter);
    font-size: 17px;
    font-weight: 400;
}

.buttonConsulta{
    width:200px;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: var(--pink-700);
    color: var(--pink-100);
    font-family: var(--font-inter);
    font-weight: 550;
    font-size: 1.1rem;
    margin-top: 20px;
}

.buttonConsulta:hover{
    transition: background-color 0.3s ease-out;
    background-color: var(--pink-900);
}

.sectionTable {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.sectionTitulo h1{
    width: 600px;
    color: var(--pink-900);
    font-weight: 600;
    font-size: 30px;
}