.navbarBody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 65px;

    background-color: var(--pink-400);
    font-family: var(--font-inter);
    color: var(--pink-100);
    height: 100px;
}

.navbarTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
    color: var(--pink-100);
}

.containerNavbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.navbarLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.navbarLinks.active {
    display: flex;
}

.Link {
    color: var(--pink-100);
    font-family: var(--font-inter);
    font-weight: 500;
    text-decoration: none;
    transition: color 0.2s ease;
}

.Link:hover {
    color: var(--pink-800);
}

.buttonUserContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    position: relative;
    cursor: pointer;
}

.butonUser {
    border-radius: 100%;
}

.dropdownMenuContainer {
    position: absolute;
    top: 100%;
    margin: 0 auto;

    background-color: var(--pink-100);
    color: var(--pink-800);
    font-weight: 600;
}

.dropdownMenu {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    list-style-type: none;
    width: 120px;
    height: 88px;
    padding: 0px;
    margin: 0px;

}

.dropdownMenuButton {
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px
}

.dropdownMenuButton:hover {
    background-color: var(--pink-200);
}

.dropdownMenuButtonLink {
    text-decoration: none;
    color: var(--pink-800);
}

.menuIcon {
    display: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 12px;
    background-color: var(--pink-600);
    transition: 0.2s ease;
}

.menuIcon:hover {
    background-color: var(--pink-800);
}

@media(max-width: 720px) {

    .buttonUserContainer {
        display: none;
    }

    .navbarLinks {
        display: none;
    }

    .navbarLinks.active{
        position: absolute;
        top: 78px;
        left: 0;
        right: 0;
        flex-direction: column;
        background-color: var(--pink-400);
        text-align: start;
        padding: 20px;
    }

    .menuIcon {
        display: block;
    }

    .Link {
        padding: 12px 0;
    }
}