.centralizar-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centralizar-img {
    position: relative;
    margin-top: 5rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    background-color: #DC2C35;
    color: #f4f4f4;
}

.margin-botao{
    margin-top: 5rem;
}