.margin-botao {
  margin-left: 0.5rem;
}

.texto-nav {
  color: azure;
}

.nav-link {
  color: azure !important;
}

.dropdown-text {
  color: black !important;
}
.margin-icon {
  margin-right: 0.5rem;
}
