.tableContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 90px 50px;
}

.envolveTable{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 62px;
    width: 100%;
    border-radius: 25px;
    border: 5px solid var(--pink-200);
    
    padding: 60px 80px;
    overflow: hidden;
}

.eventTable{
    width: 100%;
    max-width: 100%;
    padding: 10px;
}

.colummTitulo{
    color: var(--pink-800);
    font-size: 17px;
    font-family: var(--font-inter);
    font-weight: 300;
    filter: opacity(0.5);
}

.colummBody tr{
    height: 83px;
    width: 100px;
    
    font-size: 18px;
    font-weight: 600;
    font-family: var(--font-inter);
    color: var(--pink-800);
}

.colummBody td.name-column{
    max-width: 256px;
}

.name-columnAncora:hover{
    color: var(--pink-500);
    gap: 10px;
}

.containerActionsButton{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.actionButtonEdit{
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 8px;
    background-color: #3ABB25
}

.actionButtonDelete{
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 8px;
    background-color: #F00
}

.actionButtonView{
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
        
    border: none;
    border-radius: 8px;
    background-color: #256FDD;

    transition: ease-in-out 0.2s;
}

.actionButtonEdit:hover{
    background-color: #14681b;
}

.actionButtonDelete:hover{
    background-color: #8f0d0d;
}

.actionButtonView:hover{
    background-color: #0d2c8f;
}