body {
  background-color: #f4f4f4;
  color: #1e1e1e;
}

.item-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-col-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.cursor-router {
  cursor: pointer;
}

.container-margin {
  margin-top: 5em;
}

.row-mobile-order {
  flex-wrap: wrap-reverse;
}
