.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5.6rem;
    padding: 90px;
    background-color: var(--pink-000);
    box-sizing: border-box;
    overflow: hidden;
}

.sectionApresentacao{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width:fit-content;
}

.sectionApresentacao h1{
    font-family: var(--font-inter);
    font-size: 2.5rem;
    font-weight: 500;
}

.sectionApresentacao p{
    font-family: var(--font-inter);
    font-size: 17px;
    font-weight: 400;
}

.sectionSobreIesb{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap:34px;
    padding: 90px 190px;

    background-color: var(--pink-100)
}