.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.sectionApresentacao{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    flex-direction: row;
    gap: 5.6rem;
    padding: 90px;
    background-color: var(--pink-000);
    box-sizing: border-box;
}

.containerApresentacao {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.7rem;
    max-width:fit-content;
}

.containerApresentacao h1{
    font-family: var(--font-inter);
    font-size: 2.5rem;
    font-weight: 500;
}

.containerApresentacao p{
    font-family: var(--font-inter);
    font-size: 17px;
    font-weight: 400;
}

.sectionSobreIesb{
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;

    gap:34px;
    padding: 90px;

    background-color: var(--pink-100)
}

.sectionSobreIesb h1{
    font-family: var(--font-inter);
    font-size: 2rem;
    font-weight: 500;
}

.containerSobreIesb {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    gap:24px;
}