.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.closeButton {
  color: #4f0707;
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal h2 {
  color: #4f0707;
}

.modalForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.modalForm label {
  color: #4f0707;
}

.modalForm input {
  background-color: #ffffff;
  border: 1px solid #4f0707;
  border-radius: 5px;
  color: #4f0707;
  padding: 0.5rem;
}

.btnSave {
  margin-top: 15px;
  background-color: #aa1010;
  color: #fce8e8;
  border: none;
  border-radius: 5px;
  height: 30px;
}
